<ul>
<% @posts.each do |post| %>
  <li>
    <% if post.link.present? %>
    <div class="title"><a href="<%= post.link %>"><%= post.title %></a></div>
    <% else %>
    <%= post.title %>
      <% end %>
      <div class="tagline" title=" <%= post.created_at %>">"
        <%= time_ago_in_words post.created_at %> ago
        </div>
    <% end %>
  </li>
</ul>
